/* ......... */
/* Hero */
/* ......... */

#hero {
  .h-d-1 {
    border: none;
    border-radius: 4px;
    max-width: 480px;
    padding: 22px;
    margin: 80px auto 0;
    @media (min-width: $screen-sm-min) {
      border: 0px solid #ff6c6a;
    }
  }
  .h-h1-1 {
    font-size: 15px;
    letter-spacing: 0.12em;
    margin-bottom: -10px;
    @media (min-width: $screen-sm-min) {
      font-size: 30px;
      color: #acacac;
    }
  }
  .h-h1-2 {
    font-size: 43px;
    letter-spacing: 0.12em;
    // color: #3d3d3d;
    margin-bottom: -10px;
    @media (min-width: $screen-sm-min) {
      font-size: 86px;
    }
  }
  .h-h5-1 {
    letter-spacing: 0.045em;
    font-size: 25px;
    @media (min-width: $screen-sm-min) {
      font-size: 50px;
      // color: #ff6c6a;
    }
  }
}
.clients {
  padding: 0;
  @media (min-width: $screen-sm-min) {
    padding: 12px 40px 0 30px;
  }
}
.clients-bg {
  background: $brand-primary;
}

.lander-video {
  margin: 32px;
}

.hero-bottom {
  margin: 32px;
}

.team-images {
    border-radius: 50%;
    /* border: none; */
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #ff6c6a 0%, #e56177 100%), linear-gradient(to right, #ff6c6a 0%, #e56177 100%);
    border-left: 3px solid #ff6c6a;
    border-right: 3px solid #e56177;
    border-top: 3px solid #ff6c6a;
    border-bottom: 3px solid #e56177;
    margin-top: 20px;
}

// .team-img-tim {
//   background: url(http://localhost:3000/app/themes/sage/assets/images/team/opti/timothy.jpg) 0 0 no-repeat fixed;
//   background: $dark-grey;
//   border: 5px #fff solid;
//   border-radius: 50%;
//
//   img {
//     opacity: 1;
//     &:hover {
//       opacity: 0;
//     }
//   }
// }


/* ......... */
/* Section 1 */
/* ......... */




.round-box-dark {
  border: 1px solid white;
  border-radius: 4px;
  margin: 26px auto 84px;
  .st0, path {
    fill: white;
  }
  .st1 {
    opacity: 0;
  }
}

#team {
  padding: 32px;
  }
  img {
    // max-width: 150px;
  }
  .name {
    display: none;
    font-weight: 400;
    color: $dark-grey;
    padding: 18px 0 0;
    font-size: 15px;
    @media (min-width: $screen-sm-min) {
      display: inherit;
    }
  }
  .title {
    margin-top: -20px;
    display: none;
    font-weight: 400;
    color: $brand-secondary;
    font-size: 12px;
    font-style: italic;
    opacity: .66;
    @media (min-width: $screen-sm-min) {
      display: inherit;
    }
  }



/* ......... */
/* Section 2 */
/* ......... */

#homesection2 {
  background: linear-gradient(to top, #e56177, #ff6c6a);
  .our-process {
    // padding-top: 46px;
    font-size: 28px;
  }
  div {
    margin: 0 auto;
    display: block;
  }
  .our-process {
    padding: 40px;
  }
}
