#hero {
  .a-b-screens {
    margin-top: 136px;
    .st0 {
      fill: $dark-grey;
    }
    .st1 {
      fill: $brand-primary;
      stroke: none;
    }
  }
  .guarantee {
    margin-top: 136px;
    p {
      margin-top: 20px;
    }
    .st0 {
      fill: $dark-grey;
    }
  }
  .clients {
    p {
      color: $light-grey;
      margin-top: 100px;
    }
    svg {
      margin-top: 40px;
    }
    .st0 {
      fill: white;
    }
  }
}
/* ......... */
/* Section 1 */
/* ......... */
#section1 {
  background-color: $brand-primary;
  h2 {
    color: white;
	  font-size: 24px;
	  line-height: 30px;
    padding: 75px 0 36px;
  }
  svg {
    margin-bottom: 84px;
    .st0 {
      fill: white;
    }
    .st1 {
    fill: none;
    }
  }
}
/* ......... */
/* Section 2 */
/* ......... */
#section2 {
/* Phase One */
  .phase-one {
    padding-top: 80px;
    h3 {
      font-weight: lighter !important;
      color: $light-grey;
      margin-top: -8px;
    }
    .ph1-schedule {
      margin-top: 84px;
      .st0 {
        fill: $brand-magento;
      }
      .st1 {
        stroke: none;
      }
    }
    .container {
      width: 800px;
    }
    p {
      padding-top: 30px;
    }
    h5 {
      padding-top: 44px;
      color: $brand-magento;
    }
    .tools {
      margin-bottom: 78px;
      .st2 {
        fill: $medium-grey;
      }
    }
    .jack-btn1 {
        display: block;
        margin: auto;
    }
    #phase-one-bullets {
      background-color: $light-grey-bg;
      margin-top: 62px;
      .top-row {
        margin-top: 120px;
      }
      .bottom-row {
        margin: 66px 0 100px;
      }
      .bullets {
        .calendar {
          .st0 {
            fill: $brand-magento;
            vertical-align: top;
          }
        }
        .long-short {
          .st0 {
            fill: none;
          }
          .st1 {
            fill: $brand-magento;
          }
        }
        .user-centered, .variations {
          .st0 {
            fill: $brand-magento;
          }
        }
        svg {
          margin-top: 8px;
        }
        h5 {
          padding-top: 0px;
        }
        p {
          font-size: 15px;
          padding-top: 0px;
        }
      }
    }
  }
/* Phase Two */
  .phase-two {
    padding-top: 80px;
    h3 {
      font-weight: lighter !important;
      color: $light-grey;
      margin-top: -8px;
    }
    .ph1-schedule {
      margin-top: 84px;
      .st0 {
        fill: $brand-purple;
      }
      .st1 {
        stroke: none;
      }
    }
    .container {
      width: 800px;
    }
    p {
      padding-top: 30px;
    }
    h5 {
      padding-top: 44px;
      color: $brand-purple;
    }
    .jack-btn1 {
        display: block;
        margin: auto;
    }
    #phase-one-bullets {
      background-color: $light-grey-bg;
      margin-top: 62px;
      .top-row {
        margin-top: 120px;
      }
      .bottom-row {
        margin: 66px 0 100px;
      }
      .bullets {
        .sage {
          .st0 {
            fill: $brand-purple;
            vertical-align: top;
          }
        }
        .load-speed {
          .st0 {
            fill: $brand-purple;
          }
          .st1 {
            fill: $brand-purple;
          }
        }
        .plugins, .db-backup {
          .st0 {
            fill: $brand-purple;
          }
        }
        svg {
          margin-top: 8px;
        }
        h5 {
          padding-top: 0px;
        }
        p {
          font-size: 15px;
          padding-top: 0px;
        }
      }
    }
  }
/* Phase Three */
  .phase-three {
    padding-top: 80px;
    h3 {
      font-weight: lighter !important;
      color: $light-grey;
      margin-top: -8px;
    }
    .ph1-schedule {
      margin-top: 84px;
      path {
        fill: $brand-blue;
      }
      .st1 {
        stroke: none;
      }
    }
    .container {
      width: 800px;
    }
    p {
      padding-top: 30px;
      strong {
        color: $dark-grey;
        padding: 0px;
      }
    }
    h2 {
      padding: 82px 0 82px;
    }
    #phase-three-bullets {
      background-color: $light-grey-bg;
      margin-top: 62px;
      .top-row {
        margin-top: 120px;
      }
      .bottom-row {
        margin: 66px 0 100px;
      }
      .bullets {
        .blog-post {
          .st0 {
            fill: $brand-blue;
            vertical-align: top;
          }
        }
        .video {
          .st0 {
            fill: $brand-blue;
          }
          .st1 {
            fill: $brand-blue;
          }
        }
        .podcast, .infographic {
          .st0 {
            fill: $brand-blue;
          }
        }
        svg {
          margin-top: 8px;
        }
        h5 {
          padding-top: 0px;
        }
        p {
          font-size: 15px;
          padding-top: 0px;
        }
      }
    }
  }
}

#section3 {
  margin-top: -20px;
  #contact {
    background-color: $brand-primary;
    h2 {
      font-weight: bold;
      color: white;
      padding-top: 46px;
    }
    h3 {
      font-weight: lighter;
      padding-bottom: 20px;
    }
    img {
      margin-bottom: 30px;
    }
  }
  p {
    margin: 0;
  }
  .phone-number {
    padding: 40px 0 40px;
    font-size: 30px;
    color: $light-grey;
    span {
      color: $dark-grey;
    }
  }
  .container {
    width: 600px;
  }
}
