/* ......... */
/* Hero */
/* ......... */

#hero {
  .h-d-1 {
    border: none;
    border-radius: 4px;
    max-width: 480px;
    padding: 22px;
    margin: 80px auto 0;
    @media (min-width: $screen-sm-min) {
      border: 0px solid #ff6c6a;
    }
  }
  .h-h1-1 {
    font-size: 15px;
    letter-spacing: 0.12em;
    margin-bottom: -10px;
    @media (min-width: $screen-sm-min) {
      font-size: 30px;
      color: #acacac;
    }
  }
  .h-h1-2 {
    font-size: 43px;
    letter-spacing: 0.12em;
    // color: #3d3d3d;
    margin-bottom: -10px;
    @media (min-width: $screen-sm-min) {
      font-size: 86px;
    }
  }
  .h-h5-1 {
    letter-spacing: 0.045em;
    font-size: 25px;
    @media (min-width: $screen-sm-min) {
      font-size: 50px;
      // color: #ff6c6a;
    }
  }
  .clients {
    padding-bottom: 40px;
  }

}

.lander-video {
  margin: 32px;
}

.hero-bottom {
  margin: 32px;
}

#team {
  img {
    border:4px white solid ;
  }
}

// .team-img-tim {
//   background: url(http://localhost:3000/app/themes/sage/assets/images/team/opti/timothy.jpg) 0 0 no-repeat fixed;
//   background: $dark-grey;
//   border: 5px #fff solid;
//   border-radius: 50%;
//
//   img {
//     opacity: 1;
//     &:hover {
//       opacity: 0;
//     }
//   }
// }


/* ......... */
/* Section 1 */
/* ......... */




.round-box-dark {
  border: 1px solid #303030;
  border-radius: 4px;
  margin: 26px auto 84px;
}

#team {
  background-color: $brand-primary;
  padding: 32px;
  h5 {
    padding: 0 0 18px;
    font-size: 18px;
    color: white;
    letter-spacing: 0.08em;
    @media (min-width: $screen-sm-min) {
      font-size: 28px;

    }
  }
  img {
    // max-width: 150px;
  }
  .name {
    display: none;
    font-weight: 400;
    color: white;
    padding: 18px 0 0;
    font-size: 15px;
    @media (min-width: $screen-sm-min) {
      display: inherit;
    }
  }
  .title {
    margin-top: -20px;
    display: none;
    font-weight: 400;
    color: white;
    font-size: 12px;
    font-style: italic;
    opacity: .66;
    @media (min-width: $screen-sm-min) {
      display: inherit;
    }
  }
}




/* ......... */
/* Section 2 */
/* ......... */

#homesection2 {
  .our-process {
    // padding-top: 46px;
    font-size: 28px;
  }
  div {
    margin: 0 auto;
    display: block;
  }
  .our-process {
    padding: 40px;
  }
}
